In [1]:
import pandas as pd

from utils import get_data

In [2]:
pairs = ['EURUSD', 'EURGBP', 'GBPUSD']
df = get_data(pairs, list(range(2010, 2013)))
df.head()

EURUSD 2010 already present
EURUSD 2011 already present
EURUSD 2012 already present
EURGBP 2010 already present
EURGBP 2011 already present
EURGBP 2012 already present
GBPUSD 2010 already present
GBPUSD 2011 already present
GBPUSD 2012 already present

,Bar OPEN Bid Quote,Bar HIGH Bid Quote,Bar LOW Bid Quote,Bar CLOSE Bid Quote,EUR,USD,GBP
Timestamp,,,,,,,
2010-01-03 17:00:00,1.4301,1.4304,1.4301,1.4304,True,True,False
2010-01-03 17:01:00,1.4303,1.4303,1.4303,1.4303,True,True,False
2010-01-03 17:02:00,1.4302,1.4303,1.4301,1.4303,True,True,False
2010-01-03 17:03:00,1.4302,1.4302,1.4302,1.4302,True,True,False
2010-01-03 17:04:00,1.4301,1.4302,1.4298,1.4300,True,True,False